<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Mise a jour Citoyen</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>

<div class="container">
    <form class="form-horizontal" action="" method="post" th:object="${citoyen}" th:action="@{/saveCitoyen}">

        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" id="id" th:value="${citoyen.id}" th:field="${citoyen.id}" readonly>


        <label for="numeroAssuranceSocial" class="form-label">Numero assurance Social</label>
        <input type="text" class="form-control" id="numeroAssuranceSocial" th:value="${citoyen.numeroAssuranceSocial}" th:field="${citoyen.numeroAssuranceSocial}">

        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" th:value="${citoyen.nom}" th:field="${citoyen.nom}">

        <label for="prenom" class="form-label">Prenom</label>
        <input type="text" class="form-control" id="prenom" th:value="${citoyen.prenom}" th:field="${citoyen.prenom}">

        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" th:value="${citoyen.age}" th:field="${citoyen.age}">

        <label for="motDePasse" class="form-label">Mot de passe</label>
        <input type="text" class="form-control" id="motDePasse" th:value="${citoyen.motDePasse}" th:field="${citoyen.motDePasse}">

        <label for="typePermis" class="form-label">Type de permis</label>
        <input type="text" class="form-control" id="typePermis" th:value="${citoyen.typePermis}" th:field="${citoyen.typePermis}">

        <button class="btn btn-primary" type="submit">Sauvegarder</button>
        <a th:href="${'/citoyens'}" class="btn btn-danger" >Annuler</a>
    </form>
</div>


</body>
</html>